/**
 * @author Jan-Christoph Borchardt, http://jancborchardt.net
 * @copyright Copyright (c) 2015, ownCloud, Inc.
 * @license AGPL-3.0
 *
 * This code is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License, version 3,
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License, version 3,
 * along with this program.  If not, see <http://www.gnu.org/licenses/>
 */


/* header color */
/* this is the main brand color */
#body-user #header, #body-settings #header, #body-public #header {
    background-color: #1b1d27;
}

/* log in screen background color */
/* gradient of the header color and a brighter shade */
/* can also be a flat color or an image */
#body-login {
    background-color: #1b1d27;
    background-image: url('../img/bg_berloni.jpg');
}
#body-login #header .logo {
    background-image: url('../img/logo-icon.png');
    width: 330px;
    height: 121px;
    background-size: 330px auto;
    margin-left: -16px;
}
#body-login footer {margin-bottom: 50px;}
#body-login footer .container {display:none;}
#body-login footer p.info {color: #bebebe;}
#body-login footer .link-home {display: block; font-weight: 900; color:#fff; font-size: 110%; text-transform:uppercase;}
/* primary action button, use sparingly */
/* header color as border, brighter shade again, here as background */
.primary,
input[type="submit"].primary,
input[type="button"].primary,
button.primary,
.button.primary,
.primary:active,
input[type="submit"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
	border-color: #fff;
	background-color: #1b1d27;
}
.primary:hover,
input[type="submit"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover,
.primary:focus,
input[type="submit"].primary:focus,
input[type="button"].primary:focus,
button.primary:focus,
.button.primary:focus {
	background-color: #d7d1c9;
}
.primary:active, input[type="submit"].primary:active, input[type="button"].primary:active, button.primary:active, .button.primary:active,
.primary:disabled, input[type="submit"].primary:disabled, input[type="button"].primary:disabled, button.primary:disabled, .button.primary:disabled,
.primary:disabled:hover, input[type="submit"].primary:disabled:hover, input[type="button"].primary:disabled:hover, button.primary:disabled:hover, .button.primary:disabled:hover,
.primary:disabled:focus, input[type="submit"].primary:disabled:focus, input[type="button"].primary:disabled:focus, button.primary:disabled:focus, .button.primary:disabled:focus {
	background-color: #1b1d27;
}

/* use logos from theme */
#header .logo.logo-icon {
    background-image: url('../img/logo-icon.png');
    width: 230px;
    height: 24px;
    background-size: 230px 24px;
    top: 7px;
    position: relative;
}
#header .logo-wide {
	background-image: url('../img/logo-wide.png');
	width: 350px;
	height: 45px;
}
/*#content-wrapper {
    padding-top: 60px;
} 

#body-login p.info {
    padding-top: 0px;
}*/



@media only screen and (max-width: 480px) {
    #header .logo {
	    width: 250px !important;
	    height: 80px !important;
	    background-size: 250px auto !important;
            margin-left: 25px !important;
    }
}
@media only screen and (max-width: 768px) {
#app-navigation-toggle {
    top: 65px;
}
#body-user #header .logo-icon {
    background-image: url('../img/mobile-icon.png');
    width: 28px;
    height: 32px;
    background-size: 28px 32px;
    top: 7px;
}
.snapjs-left #app-navigation-toggle {
top: 7px;
}
#expand {
    padding: 7px 0px 6px 10px;
}
}



/*
** TEMPLATE PLUBLIC
*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600');

/*  SECTIONS  */
#body-public footer {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
    margin: 40px 0 40px;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
#body-public footer:before,
#body-public footer:after {
	content:"";
	display:table;
}
#body-public footer:after {
	clear:both;
}
#body-public footer {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_1_of_3 {
	width: 33.33%;
}
centerdiv {
    display: table;
    margin: 0 auto;
    font-size: 15px;
    line-height: 150%;
    color: #555555;
}

/*  GO FULL WIDTH AT LESS THAN 549 PIXELS */

@media only screen and (max-width: 549px) {
    .col {margin: 0 auto;}
    .span_1_of_3 { width: 100%; }
    centerdiv {
        display: block;
        margin: 15px auto;
        text-align: center;
    }
}

#body-public {
    font-family: 'Source Sans Pro', sans-serif; 
}
#owncloud {
    padding: 10px 20px;
}
#header.share-file .header-appname-container, #header.share-file #save, #body-public #header .header-appname-container {
    display: none;
}
#body-public .header-right {
    position: relative;
    float: right;
}
#body-public div.directLink label {
    display: block;
    color: #231f20;
    opacity: 1;
    font-weight: bold;
    font-size: 14px;
}
#download {
    background-image: url('/berlonibagno/themes/berloni_bagno/core/img/download-icon.png');
    width: 33px;
    height: 27px;
    background-size: 33px 27px;
    padding: 14px 17px;
    background-repeat: no-repeat;
    background-position-y: 8px;
    background-color: transparent;
}
#download img, #download-text, .directDownload #downloadFile img, #body-user div.directLink {display:none;}
.directDownload #downloadFile {
    padding: 12px 35px;
    background-color: #68a5ae;
    color: #ffffff;
    border: 1px solid #68a5ae;
    border-radius: 15px;
    font-size: 17px;
    margin: 40px 0;
   transition: all 100ms ease-in;
}
.directDownload #downloadFile:hover {
    background-color: #1b1d27;
    border: 1px solid #1b1d27;
}
.directDownload span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    margin: 10px 0;
}
#body-public #content {
    padding: 80px 0;
    min-height: calc(100vh - 370px);
}
#body-public #content:not(.app-gallery) {
    max-width: 1200px;
    margin: 0 auto;
}
#body-public #download {

}
#body-public footer {
    background: #1b1d27;
    text-align: inherit;
}
#body-public footer .container{
    max-width: 1200px;
    margin:0 auto;
}
#body-public footer .container:after {
	clear:both;
}


/*COLLABORA*/
#mainContainer.claro {
    top: 60px !important;
}
